body{background:#eaeaea;}
.c-wd{color:#dff0ff;cursor:default;}a.c-wd:hover{color:#fff;text-decoration:none;}
.c-gd{color:#333;cursor:default;}a.c-gd:hover{color:#000;text-decoration:none;}
.sico{*zoom:1;position:absolute;display:block;z-index:1;font-size:0;}
.sico{background-image:url(../images/safe/sico.png);background-repeat:no-repeat;background-position:0 0;}
.s-ico{width:140px;height:146px;left:0;top:0;}
.w998{width:998px;margin:0 auto;}
/*icon*/
.safe-ico1{background-position:0 0;}
.safe-ico2{background-position:-141px 0;}
.safe-ico3{background-position:-282px 0;}
.safe-ico4{background-position:-423px 0;}
.safe-ico5{background-position:0 -148px;}
.safe-ico6{background-position:-141px -148px;}
.safe-ico7{background-position:-282px -148px;}
.safe-ico8{background-position:-423px -148px;}
.safe-ico9{background-position:0 -296px;}
.safe-ico10{background-position:-140px -296px;}
.safe-ico11{background-position:-280px -296px;}
.next-left,.next-right{width:105px;height:232px;bottom:0;z-index:3;margin-bottom:-120px;}
.next-left{left:0;background:url(../images/safe/next-l.png) no-repeat 0 0;}
.next-right{right:0;background:url(../images/safe/next-r.png) no-repeat 0 0;}
.abs-square{width:10px;height:10px;left:0;top:7px;background:#dd2017;border-radius:2px;}
/*banner*/
.safe-banner{background:#1d8cf3 url(../images/safe/sbg.png) no-repeat top center;}
.banner-h{height:706px;position:relative;}
.safe-title,.ban-txt{width:276px;left:50%;margin-left:-138px;}
.safe-title{top:107px;}
.ban-cont{position:absolute;z-index:2;top:378px;left:60px;}
.ban-cont li{float:left;width:140px;margin-right:106px;text-align:center;position:relative;height:199px;}
.ban-cont li.last{margin-right:0}
.ban-cont li h3{padding-top:158px;display:block;height:41px;line-height:41px;}
.ban-txt{top:205px;line-height:39px;font-size:24px;color:#fff;font-weight:bold;}
/*body*/
.section-box{border-bottom:1px solid #cecece;}
.section-h{height:350px;position:relative;}
.sec-l{left:100px;}.sec-r{right:100px;}
.sec-cont{position:absolute;z-index:2;top:86px;}
.sec-cont li{width:140px;text-align:center;position:relative;height:199px;}
.sec-cont li h3{padding-top:150px;display:block;height:41px;line-height:41px;}
.first-col{padding:98px 0 0 360px;}
.first-col li{float:left;position:relative;width:140px;margin-right:42px;height:180px;}
.first-col li.last{margin:0;}.first-col .sico{width:140px;height:102px;left:0;top:0}
.first-col li p{margin-top:113px;line-height:24px;text-align:center;}
.second-col{padding:82px 0 0 139px}
.second-col li{width:300px;float:left;}
.second-col li img{margin-bottom:8px;}
.second-col li p{line-height:22px;}
.second-col li .h3{display:block;height:39px;line-height:39px;margin-top:22px;}
.third-pad{padding:116px 0 0 367px;}.fourth-pad{padding:129px 0 0 139px;}
.safe-col{width:558px;}
.safe-col li{width:279px;float:left;height:68px;position:relative}.safe-col li.short-li{width:237px;}
.safe-col li.one-way{height:42px;}
.safe-col li .h3{display:block;line-height:25px;padding-left:20px;color:#666}
