
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,img{margin:0;padding:0}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{font:14px/1.5 arial,\5FAE\8F6F\96C5\9ED1,sans-serif;color:#333;background:#f8f8f8;overflow-x:hidden;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}sup{top:-.5em}sub{bottom:-.25em}a{background-color:transparent}a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}
h1{margin:0;}mark{background:#ff0;color:#000}small{font-size:80%}b,strong{font-weight:bold}i,em{font-style:italic}
sub,sup{position:relative;vertical-align:baseline;font-size:75%;line-height:0}
img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;padding:0;margin:0;}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
ul,li,ol,dl,dd,dt{list-style:none;margin:0}
hr{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-size:1em;font-family:monospace,monospace}
button,input,optgroup,select,textarea{margin:0;color:inherit;font:inherit}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
input{line-height:normal}
input[type=checkbox],input[type=radio]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{margin:0 2px;padding:.35em .625em .75em;border:1px solid silver}
legend{padding:0;border:0}
textarea{overflow:auto}
optgroup{font-weight:700}
table{border-collapse:collapse;table-layout:fixed;border:0;margin:0;}
th{text-align:left;font-weight:normal}table .tdl,table .tdr{margin:0 5px;}
table .tdl{text-align:left;}table .tdr{text-align:right;}table .bg{background:#eee;}
.fade{opacity:0;-webkit-transition:opacity .15s linear;-o-transition:opacity .15s linear;transition:opacity .15s linear;}
.fade.in{opacity:1;}.hide{display:none}.show{display:block}
button,input,select,textarea{font-size:inherit;font-family:inherit;line-height:inherit}
a{text-decoration:none;}
a:hover{text-decoration:underline}
a:focus{outline:none;text-decoration:none;}
figure{margin:0}
img{vertical-align:middle}
.carousel-inner>.item>a>img,.carousel-inner>.item>img,.img-responsive,.thumbnail a>img,.thumbnail>img{display:block;height:auto;max-width:100%}
.img-rounded{border-radius:6px}
.img-thumbnail{display:inline-block;padding:4px;height:auto;max-width:100%;border:1px solid #ddd;border-radius:4px;background-color:#fff;line-height:1.42857143;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.img-circle{border-radius:50%}
hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee}
.sr-only{position:absolute;overflow:hidden;clip:rect(0,0,0,0);margin:-1px;padding:0;width:1px;height:1px;border:0}
.sr-only-focusable:active,.sr-only-focusable:focus{position:static;overflow:visible;clip:auto;margin:0;width:auto;height:auto}
[role=button]{cursor:pointer}
.h1,.h2,.h3,.h4,.h5,.h6{color:inherit;font-weight:normal;font-family:inherit;line-height:1.1;font-size:14px;}
.em,.b,.i{font-style:normal;font-weight:normal}.del{text-decoration:line-through}
.mt10{margin-top:10px;}.mt20{margin-top:20px;}.mt40{margin-top:40px;}.mt30{margin-top:30px;}.ml10{margin-left:10px;}.ml20{margin-left:20px;}
.mr10,.mr20,.mr40{_display:inline}.mr10{margin-right:10px;}.mr20{margin-right:20px;}.mr40{margin-right:40px;}
abbr[data-original-title],abbr[title]{border-bottom:1px dotted #777;cursor:help}
.initialism{text-transform:uppercase;font-size:90%}
.blockquote-reverse,blockquote.pull-right{padding-right:15px;padding-left:0;border-right:5px solid #eee;border-left:0;text-align:right}
.blockquote-reverse .small:before,.blockquote-reverse footer:before,.blockquote-reverse small:before,blockquote.pull-right .small:before,blockquote.pull-right footer:before,blockquote.pull-right 
address{margin-bottom:20px;font-style:normal;line-height:1.42857143}
code,kbd,pre,samp{font-family:Menlo,Monaco,Consolas,"Courier New",monospace}
code{padding:2px 4px;border-radius:4px;background-color:#f9f2f4;color:#c7254e;font-size:90%}
kbd{padding:2px 4px;border-radius:3px;background-color:#333;-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,.25);box-shadow:inset 0 -1px 0 rgba(0,0,0,.25);color:#fff;font-size:90%}
kbd kbd{padding:0;-webkit-box-shadow:none;box-shadow:none;font-weight:700;font-size:100%}
pre{display:block;margin:0 0 10px;padding:9.5px;border:1px solid #ccc;border-radius:4px;background-color:#f5f5f5;color:#333;word-wrap:break-word;font-size:13px;line-height:1.42857143;word-break:break-all}
pre code{padding:0;border-radius:0;background-color:transparent;color:inherit;c-white-space:pre-wrap;font-size:inherit}
.fl{float:left}.fr{float:right}.rel{position:relative;}.fs12{font-size:12px;}.fs16{font-size:16px;}.fs18{font-size:18px;}.fs20{font-size:20px;}.fs22{font-size:22px;}
.text-right{text-align:right;}.text-center{text-align:center;}.text-justify{text-align:justify;}.text-nowrap{white-space:nowrap;}
.text-ellipsis{overflow:hidden;}
.text-lowercase{text-transform:lowercase;}.text-uppercase{text-transform:uppercase;}.text-capitalize{text-transform:capitalize;}
.img-ver{display:table;text-align:center;#position:relative;overflow:hidden}.img-ver p{#position:absolute;#top:50%;display:table-cell;vertical-align:middle;left:50%}.img-ver img{#position:relative;#top:-50%;left:-50%}
.ft-nums{font-family:Arial}.ft-tahoma{font-family:Tahoma}.ft-songti{font-family:\5B8B\4F53}.uline{text-decoration:underline}
.clearfix{*zoom:1;}.clearfix:after{display:block;overflow:hidden;clear:both;height:0;visibility:hidden;content:".";}
.abs,.ico{*zoom:1;position:absolute;display:block;z-index:1;font-size:0;}
.ico{background-image:url(../images/ico.png);_background-image:url(../images/ico.gif);background-repeat:no-repeat;background-position:0 0;}
.wrap::after{clear:both;content:" ";display:block;height:0;}
.wrap{width:1000px;margin:0 auto;}
/*Bg color*/
.bg-white{background:#fff;}
/*Text color*/
.c-rise{color:#dc3433;}.c-fall{color:#25ae48;}
.c-orange{color:#ff670b;}a.c-orange:hover{color:#ea5a03;}
.c-lightorange{color:#f97b00;}a.c-lightorange:hover{color:#177dcf;}
.c-red{color:#ff0000;}a.c-red:hover{color:#d60404;}
.c-red2{color:#ed3910;}a.c-red2:hover{color:#d60404;}
.c-red3{color:#f70011;}a.c-red3:hover{color:#d60404;}
.c-red4{color:#ff1800;}a.c-red4:hover{color:#d60404;}
.c-green{color:#0eb125;}a.c-green:hover{color:#048a17;}
.c-white{color:#fff;}a.c-white:hover{color:#fff;}
.c-blue1{color:#0473be;}a.c-blue1:hover{color:#ff0000;}
.c-blue2{color:#1f8bd7;}a.c-blue2:hover{color:#ff0000;}
.c-blue3{color:#177dcf;}a.c-blue3:hover{color:#ff0000;}
.c-blue{color:#177dcf;}a.c-blue:hover{color:#ff0000;}
.c-gray666{color:#666;}a.c-gray666:hover{color:#177dcf;}
.c-gray333{color:#333;}a.c-gray333:hover{color:#177dcf;}
.c-grayccc{color:#ccc;}a.c-grayccc:hover{color:#177dcf;}
.c-gray999{color:#999;}a.c-gray999:hover{color:#177dcf;}
.c-graye6{color:#e6e6e6;}a.c-graye6:hover{color:#177dcf;}
/*禁用链接样式*/
.a-disabled{color:#999;}a.a-disabled:hover{color:#999;text-decoration:none;cursor:default;}
/*transform*/
.tf-45{transform:rotate(-45deg);-ms-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-o-transform:rotate(-45deg);}
/*News Head*/
.m-topbar{background:#f6f6f6;border-bottom:1px solid #e7e7e7;}
.m-topbar .telbox{float:left;padding-left:26px;height:40px;line-height:40px;color:#666;}
.m-topbar .telbox em,.m-topbar .telbox span{display:block;float:left;}
.m-topbar .telbox em{font-size:20px;font-weight:normal;margin-right:4px;}
.m-topbar .telbox span{font-size:12px;}
.m-topbar .top-nav{float:right;height:40px;line-height:40px;color:#666;font-size:12px;}
.m-topbar .top-nav li{float:left;}
.m-topbar .top-nav a{padding:0 6px;color:#666;display:block;float:left;position:relative}
.m-topbar .top-nav a.aphone{padding-left:20px;}
.m-topbar .top-nav a.hi{color:#349de5}
.m-topbar .top-nav a:hover{color:#f00;}
.head{border-bottom:1px solid #ddd;height:100px;background:#fff;}.nobor{border-bottom:0;}
.head .logo,.head .slogan{margin-top:26px;float:left;}.head .logo{margin-left:10px;}
.head .slogan{margin-left:13px;padding-left:14px;background:url(../images/slogan-bg.jpg) no-repeat left top;width:115px;}
.head .slogan h2{height:48px;line-height:48px;font-size:24px;color:#989898;font-weight:normal;display:block}
.head .big-slogan{width:150px;}
.head .head-nav{margin:32px 0 0 0;height:33px;line-height:33px;}
.head .head-nav ul,.head .head-nav li{float:left}
.head .head-nav li{margin-left:34px;_display:inline;}.head .head-nav li.active a{color:#177dcf;border-bottom:2px solid #177dcf;}
.head .head-nav a{display:block;float:left;color:#333;font-size:16px;}
.head .head-nav a:hover{color:#177dcf;text-decoration:none}
.head .userinfo{margin-top:23px;_width:107px;}
.head .userinfo a{display:block;height:50px;line-height:50px;padding:0 8px 0 41px;position:relative;font-size:14px;color:#333;}
.head .userinfo a:hover{color:#177dcf;text-decoration:none}
.head-tab{padding:9px 0;background:#e7e7e7;border-bottom:1px solid #fbfbfb;}
.head-tab .new-notice{float:left;overflow:hidden;height:35px;line-height:35px;position:relative}
.head-tab .new-notice .notice-tit{width:86px;padding-left:27px;float:left}
.head-tab .new-notice ul{width:497px;float:left;position:relative;overflow:hidden;height:21px;margin-top:7px;}
.head-tab .new-notice li{height:21px;line-height:21px;}
.ht-nobg{background:none}
/*News Search*/
.head-tab .head-search {float:right;margin:0 0 0 0;position:relative;}
.head-tab .head-search >ul{float:left;}
.head-tab .head-search >ul>li{float:left;position:relative;display:block}
.head-tab .head-search .dropdown,.head-tab .head-search .top-text{float:left;}
.head-tab .head-search .dropdown a:hover{text-decoration:none}
.head-tab .head-search ul.dropdown-menu{width:64px;}
.head-tab .head-search .top-text{height:33px;width:265px;border:1px solid #0c76cc;background:#fff;border-left:0;}
.head-tab .head-search .top-text input{border:none;font-family:Arial;height:32px;line-height:32px;outline:none;padding-left:19px;width:207px;background:none}
.head-tab .head-search .sbox{left:0;position:absolute;width:264px;z-index:90;top:33px;height:300px;overflow:hidden;background:#fff;border:1px solid #ccc;border-collapse:collapse;box-shadow:1px 1px 3px rgba(150, 150, 150, 0.3);_margin-left:66px;}
.head-tab .head-search .sbox table{color:#666;width:100%;}
.head-tab .head-search .sbox table tr{cursor:pointer;}
.head-tab .head-search .sbox table tr.active{background:#fdd3a2;}
.head-tab .head-search .sbox table tr:hover{background:#dfe2e6;}
.head-tab .head-search .sbox table td{height:30px;overflow:hidden;white-space:nowrap;}
.head-tab .head-search .sbox table span{color:#fb1a18;}
/*dropdown*/
.dropdown a:hover .abs-arrow-d{border-top:4px solid #177dcf;}
.dropup,.dropdown{position:relative;}
.search-drop{width:40px;height:33px;line-height:33px;border:1px solid #0c76cc;border-right:0;padding-left:12px;color:#666;display:block;background:#fff;}
.dropdown-toggle:focus{outline:0;}
ul.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;float:left;display:none;margin:2px 0 0;padding:5px 0;width:180px;border:1px solid #ccc;border:1px solid rgba(0,0,0,.15);border-radius:3px;background-color:#fff;background-clip:padding-box;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175);list-style:none;text-align:left;font-size:14px;-webkit-background-clip:padding-box;}
ul.dropdown-menu.pull-right{right:0;left:auto;}
ul.dropdown-menu .divider{overflow:hidden;margin:9px 0;height:1px;background-color:#e5e5e5;}
ul.dropdown-menu>li>a{clear:both;display:block;padding:3px 0;color:#333;c-white-space:nowrap;font-weight:normal;line-height:1.42857143;padding-left:15px;}
ul.dropdown-menu>li>a:hover,ul.dropdown-menu>li>a:focus{background-color:#f5f5f5;color:#262626;text-decoration:none;}
ul.dropdown-menu>.active>a,ul.dropdown-menu>.active>a:hover,ul.dropdown-menu>.active>a:focus{outline:0;background-color:#337ab7;color:#fff;text-decoration:none;}
ul.dropdown-menu>.disabled>a,ul.dropdown-menu>.disabled>a:hover,ul.dropdown-menu>.disabled>a:focus{color:#777;}
ul.dropdown-menu>.disabled>a:hover,ul.dropdown-menu>.disabled>a:focus{background-color:transparent;background-image:none;text-decoration:none;cursor:not-allowed;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}
.open>ul.dropdown-menu{display:block;}
.open>a{outline:0;}
ul.dropdown-menu-right{right:0;left:auto;}
ul.dropdown-menu-left{right:auto;left:0;}
.dropdown-header{display:block;padding:3px 20px;color:#777;c-white-space:nowrap;font-size:12px;line-height:1.42857143;}
.dropdown-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:990;}
/*Root*/
.footer{border-top:3px solid #1f8bd7;background:#fff;padding-top:25px;position:relative;z-index:10;}
.footer dl{width:117px;float:left;padding-left:37px;}
.footer dt{display:block;height:34px;line-height:34px;}
.footer dd{margin-top:8px;}
.footer li{height:26px;line-height:26px;}
.footer li a{color:#666;font-size:12px;}.footer li a:hover{color:#1f8bd7;}
.footer dl.bor{border-right:2px solid #eaeaea;}
.footer .foot-mob{width:200px;float:left;margin-left:74px;}
.footer .foot-sns{width:169px;float:left;margin-left:57px;}
.foot-title{border-bottom:1px solid #ccc;}
.foot-title li{float:left;position:relative;height:37px;}
.foot-title li h2{line-height:37px;}
.foot-cont{padding:13px 4px 0 2px;height:89px;overflow:hidden}
.foot-cont img{float:left}
.foot-cont a,.foot-cont span{display:block;float:right;}
.foot-cont a{width:55px;position:relative;background:#1f8bd7;padding:1px 1px 1px 32px;border-radius:20px;margin:7px 0}
.foot-cont a:hover{background:#feab4a;text-decoration:none;}
.foot-cont a h4{display:block;height:28px;line-height:28px;color:#666;border-radius:0 20px 20px 0;background:#fff;padding-left:11px;}
.foot-cont a:hover h4{color:#feab4a;}
.foot-cont span.first{margin-top:14px;}
.foot-cont span{width:69px;height:29px;line-height:29px;text-align:center;color:#666;}
.foot-img,.foot-copy{text-align:center;}
.foot-img{padding:40px 0;}.foot-img img{padding:0 10px;}
.foot-copy{line-height:24px;color:#666;padding-bottom:30px;font-size:12px;}
.foot-tips{height:8px;margin:40px 0 10px 0;background-image:url(../images/line.gif);background-repeat:repeat-x;background-position:0 0;position:relative}
.foot-tips span{width:128px;height:24px;line-height:24px;left:50%;top:0;margin:-8px 0 0 -64px;background:#fff;font-size:12px;text-align:center;}
/*Btn  btn 为实心按钮--btnbor空心按钮--为禁用状态*/
.btn,.btnbor{display:block;height:38px;line-height:38px;text-align:center;font-weight:normal;border-width:1px;border-style:solid;cursor:pointer;margin:0;padding:0;}
.btn:hover,.btnbor:hover{text-decoration:none}
.btn{background-color:#feab4a;color:#fff;border-color:#feab4a;}
.btn:hover{color:#fff;background-color:#f6930e;border-color:#f6930e;}
.btnbor{background-color:#fff;color:#666;border-color:#ccc;}
.btnbor:hover{background:#fff;color:#f6930e;border-color:#f6930e;}
.btn-large{height:48px;line-height:48px;}
.btn-small,.btnbor-small{height:28px;line-height:28px;}
.btnbor-org,.btnbor-orgm,.btnbor-orgm33,.btnbor-orgm28{height:22px;line-height:22px;border-color:#fe8843;border-radius:1px;padding:0 12px;color:#fe8843;background:#fff}
.btnbor-org:hover,.btnbor-orgm:hover,.btnbor-orgm33:hover,.btnbor-orgm28:hover{background-color:#fe8843;color:#fff;border-color:#fe8843;}
.btnbor-orgm,.btnbor-orgm33,.btnbor-orgm28{background-color:#fff7f3;height:23px;line-height:23px;}
.btnbor-orgm33{height:33px;line-height:33px;width:148px;padding:0;}.btnbor-orgm28{height:28px;line-height:28px;padding:0 20px;}
.btnbor-org{font-size:12px;border-radius:2px;}
/*btn disabled*/
.btn-disabled{background-color:#dadada;border-color:#dadada;color:#fff;cursor:default;}
.btn-disabled:hover{background-color:#dadada;border-color:#dadada;color:#fff;}
.btnbor-disabled{border-color:#e6e6e6;color:#b5b5b5;cursor:default;background-color:#e6e6e6;}
.btnbor-disabled:hover{border-color:#e6e6e6;color:#b5b5b5;background-color:#e6e6e6;}
/*Tab*/
.tab-content .tab-pane{display:none}
.tab-content .active{display:block}
/*Bread crumbs*/
.crumbnav{height:22px;line-height:22px;overflow:hidden;padding:9px 0 9px 30px;color:#666;font-size:12px;background:url(../images/ico-home.png) no-repeat 6px 12px;_background:url(../images/ico-home.gif) no-repeat 6px 12px;}
.crumbnav a,.crumbnav i,.crumbnav b,.crumbnav span{display:block;height:22px;line-height:22px;float:left;}
.crumbnav i{font-style:normal;margin:0 3px;font-family:\5B8B\4F53;}
.crumbnav b{font-weight:normal}.crumbnav .span{float:right;}
.crumbnav span a{padding:0 5px;}
.crumbnav a.crumbAttr{color:#fff;padding:0 23px 0 7px;overflow:hidden;margin-left:6px;background:#1873b9 url(../images/crumbAttr.gif) no-repeat top right;border-radius:2px}
.crumbnav a.crumbAttr:hover{background:#fe0000 url(../images/crumbAttr.gif) no-repeat top right;text-decoration:none;color:#fff;}
/*Shape icon*/
.abs-pont2{font-size:0;overflow:hidden;left:0;top:50%;}
.abs-line{background:#1f8bd7;bottom:0;left:0;margin-bottom:-1px;font-size:0;overflow:hidden;}
.abs-arrow-r{left:0;top:50%;width:0;height:0;border-top:6px solid transparent;border-bottom:6px solid transparent;border-left:6px solid #999;margin-top:-6px;_display:none}
.abs-arrow-d{left:44px;top:50%;width:0;height:0;border-top:4px solid #666;border-right:4px solid transparent;border-left:4px solid transparent;margin-top:-2px;_display:none}
.abs-pont2{width:9px;height:9px;background:#1f8bd7;margin-top:-5px;line-height:9px;}
.abs-hor,.abs-ver{font-size:0;overflow:hidden;background-color:#fff;}
.abs-hor{width:9px;height:3px;line-height:3px;top:6px;left:3px;}
.abs-ver{width:3px;height:9px;line-height:9px;top:3px;left:6px;}
.abs-rank{width:16px;height:16px;line-height:16px;text-align:center;left:8px;top:7px;background:#909090;color:#fff;font-style:normal;font-size:12px;}
.abs-top{background:#ff6666;color:#fff;}
.abs-line2px,.abs-line3px{background:#177dcf;bottom:0;left:0;margin-bottom:-1px;font-size:0;overflow:hidden;width:100%;font-size:0;overflow:hidden}
.abs-line3px{height:3px;}.abs-line2px{height:2px;}
.abs-i,.abs-bluei,.abs-ask{width:16px;height:16px;background-color:#b7b6d2;left:0;top:50%;margin-top:-8px;border-radius:100%;font-size:12px;color:#246db9;line-height:16px;text-align:center;font-family:Georgia;}
.abs-bluei{background-color:#1f8bd7;color:#fff;}
.abs-ask{width:18px;height:18px;line-height:18px;background-color:#ccc;margin-top:-9px;color:#fff;font-size:14px;}
/*Icon*/
.ico-phone{width:15px;height:20px;left:8px;top:50%;background-position:-103px -17px;margin-top:-10px;}
.ico-search{width:40px;height:35px;right:0;top:0;background-position:-128px -173px;cursor:pointer;background-color:#0c76cc;margin:-1px -1px 0 0}
.ico-accounts{width:24px;height:26px;left:20px;top:12px;background-position:-34px -1px;}
.ico-i{width:16px;height:16px;background-color:#1f8bd7;left:0;top:50%;margin-top:-8px;background-position:-123px 0;border-radius:100%;}
.ico-more{width:16px;height:16px;right:0;top:50%;background-position:-203px 0;font-size:0;background-color:#cecece;border-radius:50%;margin-top:-8px;}
.ico-remove{width:12px;height:16px;right:9px;top:7px;background-position:-220px 0;font-size:0;}
.ico-error,.ico-right{width:16px;height:16px;line-height:16px;font-size:0;overflow:hidden}
.ico-error{background-position:-322px 0;}
.ico-right{background-position:-305px 0;top:50%;margin-top:-8px;left:0}
.ico-vital{width:14px;height:12px;left:0;top:50%;margin-top:-6px;background-position:-356px -19px;}
.ico-android{width:17px;height:20px;left:9px;top:4px;background-position:-338px 0;}
.ico-ios{width:17px;height:18px;left:9px;top:5px;background-position:-356px 0;}
a.ico-remove:hover{background-position:-233px 0;}
.ico-sphone{width:11px;height:14px;left:5px;top:13px;background-position:-356px -33px;}
.ico-myaccount{width:32px;height:32px;left:0;top:8px;background-position:-72px -136px;}
.ico-stel{width:21px;height:25px;left:0;top:7px;background-position:-219px -136px;}
.ico-notice{width:16px;height:18px;left:0;top:50%;background-position:-293px -153px;margin-top:-9px;}
/*Page*/
.jj-page{padding-top:12px;height:25px;overflow:hidden}
.jj-page ul{float:left;}
.jj-page li{float:left;margin:0 2px;}
.jj-page li.prev{margin-left:0;}
.jj-page li a,.jj-page .form  a.btn{display:block;float:left;position:relative;height:23px;line-height:23px;padding:0 9px;}
.jj-page li a{color:#666;border:1px solid #ccc;}
.jj-page li a:hover{color:#fff;background:#feab4a;border:1px solid #feab4a;text-decoration:none;}
.jj-page li.active a,.jj-page li.active a:hover{color:#fff;background:#107fca;border:1px solid #107fca;cursor:default}
.jj-page li.dot{cursor:default;line-height:13px;width:24px;font-size:18px;text-align:center;}
.jj-page li.prev a{padding-left:17px;}
.jj-page li.next a{padding-right:17px;}
.jj-page li .ico{width:7px;height:11px;line-height:11px;overflow:hidden;font-size:0;top:6px;} 
.jj-page li.prev a i,.jj-page li.disabled a i.ico-prev{left:6px;}
.jj-page li.next a i,.jj-page li.disabled a i.ico-next{right:6px;}
.jj-page li.disabled a,.jj-page li.disabled a:hover{border:1px solid #ededed;color:#ccc;cursor:default;background:#fff;}
.jj-page li.prev a i{background-position:-139px 0;}
.jj-page li.prev a:hover i{background-position:-155px 0;}
.jj-page li.disabled a i.ico-prev,.jj-page li.disabled a:hover i.ico-prev{background-position:-188px 0;}
.jj-page li.next a i{background-position:-147px 0;}
.jj-page li.next a:hover i{background-position:-163px 0;}
.jj-page li.disabled a i.ico-next,.jj-page li.disabled a:hover i.ico-next{background-position:-196px 0;}
.jj-page .form{float:right;}
.jj-page .form .txt{display:block;float:left;margin:0 5px;color:#666;line-height:25px;}
.jj-page .form .input{border:1px solid #ccc;height:23px;line-height:23px;text-align:center;width:40px;color:#666;float:left;font-size:12px;}
.jj-page .form  a.btn{width:30px;background-color:#107fca;border-color:#107fca}
.jj-page .form  a.btn:hover{background-color:#feab4a;border-color:#feab4a}
.detail{color:#666;line-height:25px;word-break:break-all}
.detail p{text-indent:28px;margin-top:20px;}
/*From*/
.text{border:1px solid #ccc;float:none;height:38px;padding:0 29px 0 11px;width:238px;font-size:14px;background:#fff;line-height:38px;}
.calendar{padding:0 39px 0 19px;background:#fff url(../images/calendar.jpg) no-repeat right center;width:100px;}
.calendar-small{padding:0 32px 0 9px;height:33px;line-height:33px;background:#fff url(../images/calendar-small.jpg) no-repeat right center;width:96px;}
.money{padding:0 51px 0 19px;background:#fff url(../images/money.jpg) no-repeat right center;width:88px;}
.must{color:#ff2424;font-weight:normal;margin-right:5px;}
.must-big{color:#ff2424;font-weight:normal;font-size:18px;}
.text:disabled,input.disabled{border:1px solid #dedede;background-color:#ededed;}
.focus_input{border-color:#177dcf;}
.items{height:58px;position:relative;z-index:1;}
.items .label{width:144px;float:left;height:40px;line-height:40px;text-align:right;font-size:16px;color:#666;padding-right:4px;}
.items .itext,.items .iselect{float:left;height:40px;line-height:40px;}
.items input{float:left}
.items-btn{padding-left:148px;}
.not-txt-form .items-btn{padding:0}
.items-btn .btn{width:280px;}
.btn-checkcode{height:40px;line-height:40px;width:119px;margin-left:11px;float:left}
.m-cont{padding:19px;padding-top:0;background:#fff;position:relative;border:1px solid #ddd;}
.m-cont::after {clear:both;content:"";display:table;}
.nopad{padding:0;}
.ui-form-btn{margin-top:30px;width:100%;overflow:hidden}
.ui-form-btn a,.ui-form-btn span{float:left;display:block;position:relative}
.ui-form-btn a.btn-txt{height:40px;line-height:40px;margin-left:10px;}
.ui-form-btn span{height:40px;line-height:40px;padding-left:23px;color:#666;margin-left:10px;}
.items-vital{height:73px;}
.items-pw{height:43px;}.items-pw .label{height:30px;line-height:30px;}
.vital{clear:both;height:33px;line-height:33px;padding-left:20px;position:relative;margin-left:148px;color:#666;}
.pwbox{float:left;margin-top:0;}
.pwbox span{display:block;height:25px;overflow:hidden;background-image:url(../images/passlevel.png);background-repeat:no-repeat;padding-left:295px;line-height:25px;}
.pwbox .pw-defule{background-position:0 0;}
.pwbox .pw-weak{background-position:0 -20px;color:#ec3c25}
.pwbox .pw-medium{background-position:0 -40px;}
.pwbox .pw-high{background-position:0 -60px;}
.pop-from .btn,.pop-from .btnbor{width:128px;margin-right:20px;}
/*Form tip*/
.msg-tip{display:none;font-size:14px;}
.msg-tip .ico{width:16px;height:16px;top:12px;left:404px;}
.msg-tip .msg-txt{font-weight:normal;display:block;height:40px;line-height:40px;position:absolute;left:440px;top:0;}
.msg-tip .lh18{line-height:18px;}
.items-checkcode .ico{left:274px;}
.not-txt-form .msg-tip .ico{left:256px;}
.not-txt-form .msg-tip .msg-txt{left:292px;}
.not-txt-form .items-checkcode .ico{left:126px;}
.tip-info{color:#666;}.tip-info .ico{display:none}.tip-succeed .ico,.tip-error .ico{display:block}
.tip-succeed .msg-txt{display:none}.tip-succeed .ico{background-position:-305px 0;}
.tip-error{color:#ea2a11;}.tip-error .ico{background-position:-322px 0;}
/*提交后的提示*/
.submit-error{position:relative;margin-left:86px;display:none;}
.submit-error .ico{width:16px;height:16px;top:3px;left:0;background-position:-322px 0;}
.submit-error .msg-txt{line-height:22px;padding-left:22px;color:#f00;}
/*Operating Tips*/
.ope-tip .otip-img{width:93px;height:93px;margin:0 auto;border:4px solid #feab4a;border-radius:100%;position:relative}
.ope-tip .h4{display:block;height:59px;line-height:59px;margin-bottom:10px;font-size:20px;color:#ff9536;text-align:center;}
.ope-tip .ico-otip{width:45px;height:28px;left:24px;top:32px;background-position:-169px -219px;}
/*Tool tip*/
.tooltip{position:absolute;z-index:100;display:block;font-weight:normal;}
.tooltip.in{opacity:1;filter:alpha(opacity=100);}
.tooltip.top{margin-top:-3px;padding:5px 0;}
.tooltip.right{margin-left:3px;padding:0 5px;}
.tooltip.bottom{margin-top:3px;padding:5px 0;}
.tooltip.left{margin-left:-3px;padding:0 5px;}
.tooltip-inner{padding:3px 18px 10px 18px;border-radius:1px;background-color:#fff;color:#666;text-decoration:none;-webkit-box-shadow:0 0 2px 2px rgba(0,0,0,.2);box-shadow:0 0 2px 2px rgba(0,0,0,.2);margin-left:0;height:auto;}
.tooltip-arrow{position:absolute;width:2px;height:2px;border-color:transparent;border-style:solid;background:#fff;transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);-webkit-box-shadow:-2px 2px 2px rgba(0,0,0,.2);box-shadow:-2px 2px 2px rgba(0,0,0,.2);}
.tooltip.right .tooltip-arrow{top:15px;left:1px;}
/*旧的表格数据为空*/
.empty-box{text-align:center;padding:192px 0 30px 0;background:url(../images/empty.png) no-repeat  center 82px;}
.empty-box .empty-txt{display:block;color:#8f9293;height:45px;line-height:45px;}
/*kefu*/
.kefu-box{overflow:visible;position:fixed;right:20px;top:200px;z-index:60;}
.kefu-cont{position:relative;}
.kf-sidebar{position:absolute;z-index:20;right:0;width:50px;}
.kf-sidebar .its{margin-bottom:5px;cursor:pointer;height:50px;position:relative;background:#fff url(../images/mbar-ico.png) no-repeat 0 0;display:block;}
.kf-sidebar .kefu{background-position:0 -50px;}
.kf-sidebar .msg{background-position:0 0;}
.kf-sidebar .hottel{background-position:0 -100px;}
.kf-sidebar .ewm{background-position:0 -150px;}
.kf-sidebar .yijian{background-position:0 -200px;}
.kf-sidebar .gotop{background-position:0 -250px;}
.kf-sidebar .choice{background-position:0 -300px;}
.kf-sidebar .rotate{color:#fff;overflow:hidden;height:50px;}
.kf-sidebar .rotate span{background-color:#177dcf;color:#fff!important;height:100%;left:0;line-height:18px;padding:7px 9px;position:absolute;text-align:center;text-decoration:none!important;top:0;transform:rotate3d(0,0,1,90deg);transform-origin:-50% 50% 0;transition:transform .3s ease-in 0s;width:32px;
-ms-transform:rotate3d(0,0,1,90deg);
-o-transform:rotate3d(0,0,1,90deg);
-webkit-transform:rotate3d(0,0,1,90deg);
-ms-transform-origin:-50% 50% 0;
-o-transform-origin:-50% 50% 0;
-webkit-transform-origin:-50% 50% 0;
-ms-transition:transform .3s ease-in 0s;
-o-transition:transform .3s ease-in 0s;
-webkit-transition:transform .3s ease-in 0s;
}
.kf-sidebar .rotate span{display:none\9;}
.kf-sidebar .rotate span.on{display:block\9;}
.kf-sidebar .rotate:hover,.kf-sidebar .rotate:hover span{transition-timing-function:ease-out;
-ms-transition-timing-function:ease-out;
-o-transition-timing-function:ease-out;
-webkit-transition-timing-function:ease-out;
}
.kf-sidebar .rotate:hover span{text-decoration:none;transform:rotate3d(0,0,1,0deg);
-ms-transform:rotate3d(0,0,1,0deg);
-o-transform:rotate3d(0,0,1,0deg);
-webkit-transform:rotate3d(0,0,1,0deg);
}
.kf-sidebar .ewm a, .kf-sidebar .ewm a {height:50px;line-height:50px;padding:0;width:50px;}
.kf-pop{border:1px solid #177dcf;background:#fff;width:128px;position:absolute;z-index:21;text-align:center;padding:7px 0 21px 0;opacity:0;right:80px;}
.kf-pop-active{opacity:1;right:50px;transition:all .2s ease 0s;}
.kf-pop .h3{line-height:18px;font-size:14px;color:#666;padding:6px 0;}
.hottel-box{top:110px;}.hottel-box i,.hottel-box span{display:block;}
.hottel-box i{height:22px;line-height:22px;}.hottel-box span{height:18px;line-height:18px;}
.ewm-box{top:165px;}.ewm-box a{display:block;margin:0 9px;height:33px;line-height:33px;padding-bottom:9px;border-bottom:1px dashed #ddd;}
.zixuan-box{width:178px;background:#fff;min-height:165px;top:0;text-align:left;padding-bottom:7px;padding-top:0;}
.zixuan-box .nofund{position:relative;}
.zixuan-box .nofund .nofund{color:#ccc;font-size:12px;text-align:center;line-height:18px;display:block;padding:115px 0 19px 0;}
.zixuan-box .nofund .ico-empty{width:60px;height:50px;left:50%;top:50%;margin-left:-30px;background-position:-245px 0;margin-top:-40px;}
.zixuan-box a.zxbtn{display:block;height:30px;line-height:30px;text-align:center;color:#666;background:#edf8ff;margin:10px 4px 0 4px;}
.zixuan-box a.zxbtn:hover{background:#feab4a;color:#fff;text-decoration:none}
.zixuan-box .list li{padding:2px 9px;border-bottom:1px dashed #ccc;position:relative;}
.zixuan-box .list li:last-child{border-bottom:0}
.zixuan-box .list li:hover{background:#edf8ff;}
.zixuan-box .list li h4,.zixuan-box .list li span,.zixuan-box .list li em,.zixuan-box .list li a{display:block;}
.zixuan-box .list li h4,.zixuan-box .list li p{height:25px;line-height:25px;overflow:hidden;}
.zixuan-box .list li h4{width:124px;overflow:hidden}
.zixuan-box .list li span,.zixuan-box .list li em{float:left}.zixuan-box .list li a.zxbuy{float:right}
.zixuan-box .list li span{font-size:12px;}
.zixuan-box .list li em{width:63px;text-align:right;font-style:normal;font-weight:normal}
.zixuan-box .list li .zxremove:hover{background-position:-233px 0;}
.kf-sidebar .inIcon,.kf-sidebar .outIcon{width:30px;height:73px;position:absolute;z-index:20;opacity:0;left:17px;}
.kf-sidebar .inIcon{background:url(../images/mychoice.png) no-repeat 0 0;background-size:cover;}
.kf-sidebar .outIcon{background:url(../images/mychoice_out.png) no-repeat 0 0;background-size:cover;}
/*置空*/
.empty-default{position:absolute;z-index:10;text-align:center;width:100%;top:50%;}
.empty-default .emp-txt{color:#666;font-size:16px;}.empty-default .emp-txt .mlr{margin:0 5px}
.empty-stable{margin-top:-60px;}
.empty-stable .emp-img{height:94px;background:url(../images/empty/s-empty.png) no-repeat center center;}
.empty-stable .emp-txt{height:26px;line-height:26px;}
.empty-bigtable{margin-top:-77px;}
.empty-bigtable .emp-img{height:124px;background:url(../images/empty/empty.png) no-repeat center center;}
.empty-bigtable .emp-txt{height:30px;line-height:30px;}
/*弹出框*/
.popover{position:absolute;top:0;left:0;z-index:20;display:none;max-width:276px;padding:1px;font-style:normal;line-height:1.5;text-align:left;text-align:start;text-decoration:none;text-shadow:none;text-transform:none;letter-spacing:normal;word-break:normal;word-spacing:normal;word-wrap:normal;white-space:normal;background-color:#ffeeec;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ef2d2d;border-radius:3px;color:#ee301c;line-break:auto}
.popover.top{margin-top:-8px}
.popover.right{margin-left:8px}
.popover.bottom{margin-top:8px}
.popover.left{margin-left:-8px}
.popover-title{padding:0 10px;margin:0;font-size:14px}
.popover-content{padding:7px 10px}
.popover>.arrow,.popover>.arrow:after{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid}
.popover>.arrow{border-width:9px}
.popover>.arrow:after{content:"";border-width:8px}
.popover.top>.arrow{bottom:-9px;left:50%;margin-left:-9px;border-top-color:#ef2d2d;border-bottom-width:0}
.popover.top>.arrow:after{bottom:1px;margin-left:-8px;content:" ";border-top-color:#ffeeec;border-bottom-width:0}
.popover.right>.arrow{top:50%;left:-9px;margin-top:-9px;border-right-color:#ef2d2d;border-left-width:0}
.popover.right>.arrow:after{bottom:-8px;left:1px;content:" ";border-right-color:#ffeeec;border-left-width:0}
.popover.bottom>.arrow{top:-9px;left:50%;margin-left:-9px;border-top-width:0;border-bottom-color:#ef2d2d}
.popover.bottom>.arrow:after{top:1px;margin-left:-8px;content:" ";border-top-width:0;border-bottom-color:#ffeeec}
.popover.left>.arrow{top:50%;right:-9px;margin-top:-9px;border-right-width:0;border-left-color:#ef2d2d}
.popover.left>.arrow:after{right:1px;bottom:-8px;content:" ";border-right-width:0;border-left-color:#ffeeec}






